<%- include("templates/encabezado.ejs", { titulo: "Editar Juego" }) %>
	<form action="/editarJuego" id="formulario" method="POST">

		<input type="hidden" name="id" id="id" value = "<%= juegoBD._id %>">

		<label>Título</label>
		<input class="form-control mb-3" type="text" name="titulo" id="titulo" placeholder="Título" value = "<%= juegoBD.titulo %>" >

		<label>Año</label>
		<input class="form-control mb-3" type="number" name="ano" id="ano" placeholder="Año" value = "<%= juegoBD.ano %>" >

		<label>Género</label>
		<input class="form-control mb-3" type="text" name="genero" id="genero" placeholder="Género" value = "<%= juegoBD.genero %>" >

		<label>Plataforma</label>
		<select class="form-control mb-3" name="plataforma" id="plataforma" required>
		  <option value="" disabled>-- Elige una plataforma --</option>
		  <% plataformasBD.forEach(plat => { %>
		    <option 
		      value="<%= plat._id %>"
		      <%= (juegoBD.plataforma._id.toString() == plat._id.toString()) ? 'selected' : '' %>
		    >
		      <%= plat.nombre %>
		    </option>
		  <% }) %>
		</select>

		<button type="submit" class="btn btn-primary">Actualizar datos</button>
	</form>
<%- include("templates/pie.ejs") %>